html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

body {
    font-family: $roboto;
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}