@media screen and (max-width: 992px) {
    .title {
        font-size: 60px;
    }

    .switcher__box {
        height: 300px;
    }
}

@media screen and (max-width: 678px) {
    .title {
        font-size: 40px;
    }

    .content {
        max-width: 400px;
        flex-direction: column;
    }

    .switcher__box {
        width: 400px;
        height: 240px;
    }

    .btn__box {
        flex-direction: row;
    }
}

@media screen and (max-width: 510px) {
    .btn__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .switcher__box {
        width: 300px;
        height: 175px;
    }

    .content {
        max-width: 300px;
    }

    .title {
        font-size: 30px;
        margin-bottom: 11px;
    }
}